@import "reset.less";
@import "shared.less";
@import "icons.less";
@import "layouts.less";
@import "start-region.less";
@import "terminal-region.less";
@import "ship-region.less";


html,
body,
#base-layout-wrap{
	margin:0;
	padding:0;
	height:100%;
}

#base-layout-wrap{
	font-family: 'Exo 2', sans-serif;
}

a{
  color: red;
  text-decoration: underline;

}